/*---------------------------------------/*
 # FONTS
/*---------------------------------------*/
@font-face {
  font-family: 'Geist-Regular';
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Bold';
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-UltraBlack';
  src: url('../fonts/Geist-UltraBlack.woff2') format('woff2');
}

/*---------------------------------------/*
 # VARIABLES
/*---------------------------------------*/
:root {
  --green: #1db954;
  --black: #121212;

  --preview-icon-size: 2.5rem;

  --font-size-1: 0.75rem;
  --font-size-2: 1rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.75rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 4rem;
  --font-size-9: 4.5rem;
  --font-size-10: 7rem;
  --font-size-11: 12rem;
  --font-size-12: 14rem;
}

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
html {
  font-family: 'Geist-Regular', Helvetica, arial, sans-serif;
  font-size: 1rem;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body.dialog-open {
  height: 100vh;
  overflow-y: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  width: 2rem;
}

img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
      Object: Hide accessible
      ---
      Accessibly hide any element
  */

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.loader {
  display: grid;
  place-items: center;
  justify-items: center;
  @media (max-width: 576px) {
    position: fixed;
  }
}

.loader-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
  position: relative;
  grid-area: 1 / 1;
}

.loader-title {
  grid-area: 1 / 1;
  font-size: 4rem;
  text-align: center;
  max-width: 40rem;
  font-family: 'Geist-UltraBlack';
  z-index: 1;
  @media (max-width: 1024px) {
    font-size: 2rem;
    max-width: 80vw;
  }
}

.loader-dots {
  color: var(--green);
}

.loader-dots span {
  animation: dotdotdot 1.5s infinite;
  margin: 0 0.125rem;
}

.loader-dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-dots span:nth-child(3) {
  animation-delay: 0.6s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .grid-bonus {
    display: none;
  }

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
    .grid-bonus {
      display: inline-block;
      grid-column: span 2;
      .bonus-img {
        aspect-ratio: 2/1;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    .grid-bonus {
      display: inline-block;
      grid-column: span 1;
      .bonus-img {
        aspect-ratio: 1/1;
      }
    }
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
    .grid-bonus {
      display: none;
    }
  }

  @media (max-width: 330px) {
    grid-template-columns: repeat(1, 1fr);
    .grid-bonus {
      display: none;
    }
  }
}

.grid-artist,
.grid-bonus {
  position: relative;
  display: inline-block;
}

.grid-artist:focus,
.grid-bonus:focus {
  outline: solid 8px var(--green);
  outline-offset: -8px;
}

:focus:not(:focus-visible) {
  outline: 0;
  box-shadow: none;
}

.grid-artist::after,
.grid-bonus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-artist:hover::after,
.grid-bonus:hover::after {
  content: attr(data-name);
  opacity: 1;
  display: grid;
  align-content: center;
  font-size: 1.5rem;
  font-family: 'Geist-UltraBlack';
}

.grid-artist::before,
.grid-bonus::before {
  content: attr(data-nr);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #121212;
  border-bottom: solid 8px var(--green);
  font-family: 'Geist-UltraBlack';
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  align-content: center;
}

.bonus {
  width: 100%;
  height: auto;
  padding: 0 4rem;

  @media (max-width: 1024px) {
    padding: 0 3rem;
  }
}

.modal {
  padding: 2rem;
  /* padding: 4rem 2rem 2rem 2rem; */
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  color: white;
  border: none;
  @media (max-width: 370px) {
    padding: 1rem;
  }
}

.modal-body {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  @media (min-width: 1025px) {
    height: 100%;
  }
}

.modal-body:has(.bonus:not(.u-hidden)) {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.change-artist-btns {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.artist {
  height: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.artist-img-nr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (max-width: 1024px) {
    flex-direction: row;
    align-items: end;
  }
}

.artist-img {
  max-width: 25vw;

  @media (max-width: 1400px) {
    max-width: 40vw;
  }

  @media (max-width: 1024px) {
    max-width: 60vw;
  }
}

.artist-nr {
  font-family: 'Geist-UltraBlack';
  font-size: 14rem;
  line-height: 0.8;

  @media (max-width: 1024px) {
    text-align: right;
    font-size: 12rem;
  }

  @media (max-width: 700px) {
    margin-top: 2rem;
    font-size: 7rem;
  }

  @media (max-width: 370px) {
    margin-top: 2rem;
    font-size: 4.5rem;
  }
}

.artist-nr-info {
  font-size: 2rem;
  @media (max-width: 1024px) {
    text-align: right;
    font-size: 1.5rem;
  }

  @media (max-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 370px) {
    font-size: 0.75rem;
  }
}

.artist-info {
  display: grid;
  grid-template-rows: auto auto 1fr 1fr;
}

.artist-name {
  font-family: 'Geist-Bold';
  font-size: 4rem;
  @media (max-width: 1024px) {
    font-size: 3rem;
  }
  @media (max-width: 700px) {
    font-size: 2rem;
  }
  @media (max-width: 370px) {
    font-size: 1.5rem;
  }
}

.artist-genres {
  font-size: 1.75rem;
  text-transform: uppercase;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
  @media (max-width: 700px) {
    font-size: 1rem;
  }
  @media (max-width: 370px) {
    font-size: 0.75rem;
  }
}

.artist-song {
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;

  @media (max-width: 1024px) {
    gap: 1rem;
    padding: 2rem 0;
  }

  @media (max-width: 370px) {
    padding: 2.5rem 0;
  }
}

.artist-song-img {
  max-width: 12rem;
  @media (max-width: 1024px) {
    max-width: 30vw;
  }
}

.artist-song-name {
  font-family: 'Geist-Bold';
  font-size: 2rem;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }

  @media (max-width: 700px) {
    font-size: 1rem;
  }

  @media (max-width: 370px) {
    font-size: 0.75rem;
  }
}

.toggle {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.toggle:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle-info {
  opacity: 0.5;
}

.icon {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.icon--play {
  width: var(--preview-icon-size);
  opacity: 100;
}

.icon--stop {
  width: var(--preview-icon-size);
  opacity: 0;
}

.added .icon--play {
  opacity: 0;
}

.added .icon--stop {
  opacity: 100;
}

.animate {
  animation: growProgressBar 30s linear;
}

.icon--progressbar {
  --size: calc(var(--preview-icon-size) * 0.8125);
  --pgPercentage: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: radial-gradient(closest-side, #121212 80%, transparent 0 99.9%, #121212 0), conic-gradient(#1db954 calc(var(--pgPercentage) * 1%), #3f3f3f 0);
}

.artist-statistics {
  display: flex;
  flex-direction: column;
}

.artist-statistics .change-artist-btns {
  align-self: flex-end;
}

.artist-statistics-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Geist-Bold';
  font-size: 2.5rem;
  @media (max-width: 1024px) {
    font-size: 2rem;
  }
  @media (max-width: 700px) {
    font-size: 1.5rem;
  }
  @media (max-width: 370px) {
    font-size: 1rem;
  }
}

.tooltip {
  font-family: 'Geist-Regular';
  font-size: 1.5rem;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  top: -0.3125rem;
  right: 150%;
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: left;
  width: 30vw;

  @media (max-width: 1024px) {
    font-size: 1.5rem;
    padding: 1.5rem;
    width: 60vw;
  }
  @media (max-width: 700px) {
    font-size: 0.75rem;
    padding: 0.75rem;
    width: 70vw;
  }
  @media (max-width: 370px) {
    font-size: 0.625rem;
    padding: 0.625rem;
    width: 75vw;
  }
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-btn:focus-visible + .tooltiptext {
  visibility: visible;
}

.artist-followers,
.artist-popularity {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: 1.75rem;
  @media (max-width: 1024px) {
    font-size: 1.5rem;
  }
  @media (max-width: 700px) {
    font-size: 1rem;
  }
  @media (max-width: 370px) {
    font-size: 0.75rem;
  }
}

.artist-followers-bar,
.artist-popularity-bar {
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  position: relative;
  grid-column: span 2;
  margin-top: 0.25rem;
  @media (max-width: 1024px) {
    height: 0.5rem;
    margin-top: 0.125rem;
  }
}

.artist-followers-fill,
.artist-popularity-fill {
  height: 100%;
  background-color: var(--green);
  width: 0;
  position: absolute;
  transition: width 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.artist-followers-fill {
  width: 0%;
}

.artist-popularity-fill {
  width: 0%;
}

.artist-followers {
  margin: 2rem 0;
  @media (max-width: 1024px) {
    margin: 1rem 0;
  }
}

@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

@keyframes growProgressBar {
  0% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: 100;
  }
}

@keyframes dotdotdot {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-hidden {
  display: none;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    -------------
*/

/* Extra small devices (portrait phones, less than 576px)
*/

/* Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (max-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (max-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {}
*/
