/*---------------------------------------/*
 # VARIABLES
/*---------------------------------------*/
:root {
  --green: #1db954;
  --black: #121212;

  --preview-icon-size: 2.5rem;

  --font-size-xs-m: 0.625rem;
  --font-size-s-xsm: 0.75rem;
  --font-size-s-m: 1rem;
  --font-size-s-t: 1.5rem;
  --font-size-s-d: 1.75rem;
  --font-size-m-xsm: 2rem;
  --font-size-m-m: 2.5rem;
  --font-size-m-t: 3rem;
  --font-size-m-d: 4rem;
  --font-size-l-xsm: 4.5rem;
  --font-size-l-m: 7rem;
  --font-size-l-t: 12rem;
  --font-size-l-d: 14rem;
}

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
@font-face {
  font-family: 'Geist-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-UltraBlack';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Geist-UltraBlack.woff2') format('woff2');
}

html {
  font-family: 'Geist-Regular', Helvetica, arial, sans-serif;
  font-size: 1rem;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body.dialog-open {
  height: 100vh;
  overflow-y: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  width: 2rem;
}

img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
      Object: Hide accessible
      ---
      Accessibly hide any element
  */
.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
/*
    Loading screen
*/
.loader {
  display: grid;
  place-items: center;
  justify-items: center;
}

.loader-img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  grid-area: 1 / 1;
  opacity: 0.3;
}

.loader-title {
  grid-area: 1 / 1;
  font-size: var(--font-size-m-d);
  text-align: center;
  max-width: 40rem;
  font-family: 'Geist-UltraBlack';
  z-index: 1;
}

.loader-dots {
  color: var(--green);
}

.loader-dots span {
  animation: dotdotdot 1.5s infinite;
  margin: 0 0.125rem;
}

.loader-dots span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-dots span:nth-child(3) {
  animation-delay: 0.6s;
}

/*
    The big grid with the artists
*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  .grid-bonus {
    display: none;
  }
}

.grid-artist,
.grid-bonus {
  position: relative;
  display: inline-block;
}

.grid-artist:focus-visible,
.grid-bonus:focus-visible {
  outline: solid 8px var(--green);
  outline-offset: -8px;
}

.grid-artist::after,
.grid-bonus::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-artist:hover::after,
.grid-bonus:hover::after {
  content: attr(data-name);
  opacity: 1;
  display: grid;
  align-content: center;
  font-size: var(--font-size-s-t);
  font-family: 'Geist-UltraBlack';
}

.grid-artist::before,
.grid-bonus::before {
  content: attr(data-nr);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #121212;
  border-bottom: solid 8px var(--green);
  font-family: 'Geist-UltraBlack';
  font-size: var(--font-size-s-t);
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  align-content: center;
}

/*
    The bonus video easter egg
*/
.bonus {
  width: 100%;
  height: auto;
  padding: 0 4rem;
}

/*
    The modal screen -> info about the artist
*/
.modal {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border: none;
  color: white;
  background-color: var(--black);
}

.modal-body {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
}

.modal-body:has(.bonus:not(.u-hidden)) {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

/*
    Close button of the modal screen
*/
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

/*
    Buttons to change artist
*/
.change-artist-btns {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

/*
    The full artist on the modal screen
*/
.artist {
  height: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto 1fr;
}

/*
    The artist image and nr in the playlist
*/
.artist-img-nr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.artist-img {
  max-width: 25vw;
}

.artist-nr {
  font-family: 'Geist-UltraBlack';
  font-size: var(--font-size-l-d);
  line-height: 0.8;
}

.artist-nr-info {
  font-size: var(--font-size-m-xsm);
  white-space: nowrap;
}

/*
    The info about the artist
*/
.artist-info {
  display: grid;
  grid-template-rows: auto auto 1fr 1fr;
}

.artist-name {
  font-family: 'Geist-Bold';
  font-size: var(--font-size-m-d);
}

.artist-genres {
  font-size: var(--font-size-s-d);
  text-transform: uppercase;
}

.artist-song {
  padding: 3rem 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.artist-song-img {
  max-width: 12rem;
}

.artist-song-name {
  font-family: 'Geist-Bold';
  font-size: var(--font-size-m-xsm);
}

/*
    The play preview btn
*/
.toggle {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.toggle:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.toggle-info {
  opacity: 0.5;
}

.icon {
  grid-area: 1 / 1;
  transition: opacity 0.3s ease;
}

.icon--play {
  width: var(--preview-icon-size);
  opacity: 100;
}

.icon--stop {
  width: var(--preview-icon-size);
  opacity: 0;
}

.added .icon--play {
  opacity: 0;
}

.added .icon--stop {
  opacity: 100;
}

.animate {
  animation: growProgressBar 30s linear;
}

.icon--progressbar {
  --size: calc(var(--preview-icon-size) * 0.8125);
  --pgPercentage: 0;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: radial-gradient(closest-side, #121212 80%, transparent 0 99.9%, #121212 0), conic-gradient(#1db954 calc(var(--pgPercentage) * 1%), #3f3f3f 0);
}

/*
    The data visualisation
*/
.artist-statistics {
  display: flex;
  flex-direction: column;
}

.artist-statistics .change-artist-btns {
  align-self: flex-end;
}

.artist-statistics-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Geist-Bold';
  font-size: var(--font-size-m-m);
}

/* 
    Info about the graphs 
*/
.tooltip {
  font-family: 'Geist-Regular';
  font-size: var(--font-size-s-t);
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  top: -0.3125rem;
  right: 150%;
  visibility: hidden;
  background-color: black;
  color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  font-size: var(--font-size-s-t);
  text-align: left;
  width: 40vw;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-btn:focus-visible + .tooltiptext {
  visibility: visible;
}

/*
    The graphs themselves
*/
.artist-followers,
.artist-popularity {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  justify-content: space-between;
  font-size: var(--font-size-s-d);
}

.artist-followers-bar,
.artist-popularity-bar {
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  position: relative;
  grid-column: span 2;
  margin-top: 0.25rem;
}

.artist-followers-fill,
.artist-popularity-fill {
  height: 100%;
  background-color: var(--green);
  width: 0;
  position: absolute;
  transition: width 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.artist-followers-fill {
  width: 0%;
}

.artist-popularity-fill {
  width: 0%;
}

.artist-followers {
  margin: 2rem 0;
}

/*
    Property to animate the  play preview btn
*/
@property --pgPercentage {
  syntax: '<number>';
  inherits: false;
  initial-value: 0;
}

/*
    Animations
*/
@keyframes growProgressBar {
  0% {
    --pgPercentage: 0;
  }
  100% {
    --pgPercentage: 100;
  }
}

@keyframes dotdotdot {
  0%,
  49% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-hidden {
  display: none;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/
/*
    Media Queries
    -------------
*/
@media (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    .grid-bonus {
      display: inline-block;
      grid-column: span 2;
      .bonus-img {
        aspect-ratio: 2/1;
      }
    }
  }

  .artist-img {
    max-width: 40vw;
  }
}

@media (min-width: 1025px) {
  .modal-body {
    height: 100%;
  }
}

@media (max-width: 1024px) {
  .loader-title {
    font-size: var(--font-size-m-xsm);
    max-width: 80vw;
  }

  .bonus {
    padding: 0 3rem;
  }

  .artist {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .artist-img-nr {
    flex-direction: row;
    align-items: end;
  }

  .artist-img {
    max-width: 60vw;
  }

  .artist-nr {
    text-align: right;
    font-size: var(--font-size-l-t);
  }

  .artist-nr-info {
    text-align: right;
    font-size: var(--font-size-s-t);
  }

  .artist-name {
    font-size: var(--font-size-m-t);
  }

  .artist-genres {
    font-size: var(--font-size-s-t);
  }

  .artist-song {
    gap: 1rem;
    padding: 2rem 0;
  }

  .artist-song-name {
    font-size: var(--font-size-s-t);
  }

  .artist-song-img {
    max-width: 30vw;
  }

  .artist-statistics-title {
    font-size: var(--font-size-m-xsm);
  }

  .tooltip .tooltiptext {
    font-size: var(--font-size-s-t);
    padding: 1.5rem;
    width: 60vw;
  }

  .artist-followers,
  .artist-popularity {
    font-size: var(--font-size-s-t);
  }

  .artist-followers-bar,
  .artist-popularity-bar {
    height: 0.5rem;
    margin-top: 0.125rem;
  }

  .artist-followers {
    margin: 1rem 0;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    .grid-bonus {
      display: inline-block;
      grid-column: span 1;
      .bonus-img {
        aspect-ratio: 1/1;
      }
    }
  }
}

@media (max-width: 700px) {
  .artist-nr {
    margin-top: 2rem;
    font-size: var(--font-size-l-m);
  }

  .artist-nr-info {
    font-size: var(--font-size-s-m);
  }

  .artist-name {
    font-size: var(--font-size-m-xsm);
  }

  .artist-genres {
    font-size: var(--font-size-s-m);
  }

  .artist-song-name {
    font-size: var(--font-size-s-m);
  }

  .artist-statistics-title {
    font-size: var(--font-size-s-t);
  }

  .tooltip .tooltiptext {
    font-size: var(--font-size-s-xsm);
    padding: 0.75rem;
    width: 70vw;
  }

  .artist-followers,
  .artist-popularity {
    font-size: var(--font-size-s-m);
  }
}

@media (max-width: 576px) {
  .loader {
    position: fixed;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    .grid-bonus {
      display: none;
    }
  }
}

@media (max-width: 370px) {
  .modal {
    padding: 1rem;
  }

  .artist-nr {
    margin-top: 2rem;
    font-size: var(--font-size-l-xsm);
  }

  .artist-nr-info {
    font-size: var(--font-size-s-xsm);
  }

  .artist-name {
    font-size: var(--font-size-s-t);
  }

  .artist-genres {
    font-size: var(--font-size-s-xsm);
  }

  .artist-song {
    padding: 2.5rem 0;
  }

  .artist-song-name {
    font-size: var(--font-size-s-xsm);
  }

  .artist-statistics-title {
    font-size: var(--font-size-s-m);
  }

  .tooltip .tooltiptext {
    font-size: var(--font-size-xs-m);
    padding: 0.625rem;
    width: 75vw;
  }

  .artist-followers,
  .artist-popularity {
    font-size: var(--font-size-s-xsm);
  }
}

@media (max-width: 330px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    .grid-bonus {
      display: none;
    }
  }
}
