/*---------------------------------------/*
 # VARIABLES
/*---------------------------------------*/
:root {
  --green: #1db954;
  --black: #121212;
}

/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
@font-face {
  font-family: 'Geist-Regular';
  src: url('../fonts/Geist-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-Bold';
  src: url('../fonts/Geist-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Geist-UltraBlack';
  src: url('../fonts/Geist-UltraBlack.woff2') format('woff2');
}

html {
  /* line-height: ; */
  font-family: 'Geist-Regular', Helvetica, arial, sans-serif;
  /* font-size: ; */
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
body.dialog-open {
  height: 100vh;
  overflow-y: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
      Object: Hide accessible
      ---
      Accessibly hide any element
  */

.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.fold {
  display: grid;
  place-items: center;
  justify-items: center;
}

.fold-img {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
  position: relative;
  grid-area: 1 / 1;
}
.fold-title {
  grid-area: 1 / 1;
  font-size: 4rem;
  text-align: center;
  max-width: 40rem;
  font-family: 'Geist-UltraBlack';
  z-index: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1400px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 280px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-artist {
  position: relative;
  display: inline-block;
}

.grid-artist:focus {
  outline: solid 8px var(--green);
  outline-offset: -8px;
}

.grid-artist::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.grid-artist:hover::after {
  content: attr(data-name);
  opacity: 1;
  display: grid;
  align-content: center;
  font-size: 1.5rem;
  font-family: 'Geist-UltraBlack';
}

.grid-artist::before {
  content: attr(data-nr);
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #121212;
  border-bottom: solid 8px var(--green);
  font-family: 'Geist-UltraBlack';
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  align-content: center;
}

.grid-artist img {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.modal {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  color: white;
  border: none;
}

.modal-close {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
